:root {
    --width: 80px;
}

.header {
    grid-area: h;
    background-color: lightsteelblue;
    position: fixed;
    width: 100%;
    height: var(--width);
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

.header img {
    width: var(--width);
    height: var(--width);
}

.loginBlock {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    color: #0072e1;
    font-size: 2rem;
    font-family: David;
    cursor: pointer;
}
.loginBlock a{
    padding: 2vh;
}