
.nav {
    grid-area: n;
    background-color: orange;
    text-align: center;
    user-select: none;

}
.item a{
    color: white;
    font-size: 2.6em;
    text-decoration: none;
}
.item a:hover{
    color: #e39000;
}
.item a.active{
    color: gold;
}
