:root {
    --widthScrol:0.9vw;
}

body {
    width: calc(100vw - (var(--widthScrol)));
    height: auto;
    overflow-x:hidden;
    background-color: #699ccd;
}
body::-webkit-scrollbar {
    background-color: #b1dbe9;
    width: var(--widthScrol);
}

body::-webkit-scrollbar-thumb {
    border-radius: 0.3vw;
    background-color: #0d1e44;
    box-shadow: inset -1px 2px 0px hsl(195, 56%, 80%), inset -2px -2px 10px rgb(110, 129, 160);
}

.app-wrapper {
    display: grid;
    grid-template-areas: "h h" " n content";
    grid-template-rows: 70px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 1vh;
    min-height: 100vh;
}

.app-wrapper-content {
    grid-area: content;
    background-color: #84bdee;
}


